
<div>
  <div class="divVolver">
      <span class="back-text">Volver</span>
    <a routerLink="/login" class="volver">
      <img class="back-arrow" src="assets/imagenes/navegacion/arrow-left.svg" alt="Volver">
      <span class="back-text">Volver</span>
    </a>
    <p class="paginacion">1 de 4</p>
    <img src="assets/imagenes/registro/home.png" alt="home" class="iconHome">
  </div>
  <h1>{{titulo}}</h1>
  <div class="divSubeFoto">
    <!--<img src="../../../asset/icono-sube-foto.svg" alt="" />  -->
  </div>
  <form  #formRegistro="ngForm" class="formReg">
      <input type="text" placeholder="Nombre completo" class="input" required name="nombre" #nombre="ngModel" [(ngModel)]="usuarioNuevo.nombre" (blur)="alPerderFoco()" ngModel pattern="[a-zA-Z ]*"/>


      <input type="email" placeholder="Direccion email" class="input" name="email" [(ngModel)]="usuarioNuevo.email" required/>
      <input type="text" placeholder="Movil" class="input" name="movil" name="movil" [(ngModel)]="usuarioNuevo.movil" required />
      <input type="password" placeholder="Password" class="input" name="password " [(ngModel)]="usuarioNuevo.password" required/>


      <a routerLink="/emergencia"><input type="button" value="Guardar perfil"  class="buttonRegistrar" (click)="onSubmit(formRegistro)" [disabled]="!formRegistro.valid" /></a>
  </form>
</div>
