<div class="main-content">
    <img class="logo" src="assets/imagenes/inicio/logoApplergicFinal.png" alt="">
    <button style="background-color: rgb(38, 199,220)" class="main-home-button">
        <div class="button-content">
            <img class="button-img" src="assets/imagenes/home/barcode2.png" alt="" width="28" height="28">
            <span>Escanear</span>
        </div>
    </button>
    <p class="button-paragrapgh">Escanea un nuevo producto.</p>
    <button style="background-color: rgb(196, 196,196)" class="main-home-button">
        <div class="button-content">
            <img class="button-img" src="assets/imagenes/home/buscar.png" alt="" width="28" height="28">
            <span>Buscar</span>
        </div>
    </button>
    <p class="button-paragrapgh">Busca un comercio o restaurante para ti.</p>
    <button style="background-color: rgb(248, 73,113)" class="main-home-button">
        <div class="button-content">
            <img class="button-img" src="assets/imagenes/home/sos1.png" alt="" width="28" height="28">
            <span>S.O.S</span>
        </div>
    </button>
    <p class="button-paragrapgh">¿Necesitas ayuda urgente? contactamos con emergencias.</p>
</div>