.barra_superior {
    display: flex;
    justify-content: space-between;
    margin-top: 1.3em;
    margin-left: 1em;
    margin-right: 1.3em;
}

.desplegable {
    border: none;
}

mat-sidenav {
    width: 239px;
    height: 432px;
    box-shadow: 1px 1px 6px rgb(16, 177, 213);
}

.elemento {
    display: flex;
    justify-content: space-around;
    padding-left: 0.2em;
    padding-right: 5em;
    margin: none;
}

/*
Grecia, por debajo de este comentario encontrarás todo tu código CSS original del componente. He comentado el "main content" porque me daba error con la barra lateral
*/

/*
.main-content {
    position: absolute;
}
*/

.logo {
    display: block;
    margin: 50px auto;
}

.main-home-button {
    width: 325px;
    height: 50px;
    border-radius: 8px;
    color: #FFFFFF;
    display: block;
    margin: 0 auto;
    font-weight: bold;
}

.button-img {
    padding-right: 20px;
}

.button-content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-paragrapgh {
    color: rgb(118,118,118);
    text-align: center;
    position: relative;
    top: -11px;
}
