<div>
  <div class="divVolver">
    <a routerLink="/registro" class="volver">
      <img class="back-arrow" src="assets/imagenes/navegacion/arrow-left.svg" alt="Volver">
      <span class="back-text">Volver</span>
    </a>
  </div>
  <h1>Vamos a añadir tu contacto en caso de emergencia.</h1>
  <p>Nos pondremos en contacto con tu persona de confianza y/o compañia de seguros en caso de emergencia</p>
  <form  #formRegistro="ngForm" class="formReg">
    <input type="text" placeholder="Nombre completo de tu contacto" class="input" required name="nombre" #nombre="ngModel" [(ngModel)]="emergenciaNueva.nombre" (blur)="alPerderFoco()" ngModel pattern="[a-zA-Z ]*"/>


    <input type="email" placeholder="Direccion email" class="input" name="email" [(ngModel)]="emergenciaNueva.email" required/>
    <input type="text" placeholder="Movil" class="input" name="movil" name="movil" [(ngModel)]="emergenciaNueva.movil" required />
    <input type="text" placeholder="Compañia de seguros/Nº Póliza" class="input" name="compSeguros " [(ngModel)]="emergenciaNueva.password" required/>


    <input type="button" value="Guardar emergencias"  class="buttonRegistrar" (click)="onSubmit(formRegistro)" [disabled]="!formRegistro.valid" />
  </form>
</div>
