
    <div> <!--Aqui esta la imagen de cabecera-->
        <img src="../../../assets/imagenes/resultado-escaner/cabeceraConLogo.png" alt="">
    </div>
    <div class="cont">

        <div class=" col-xs-3">
                <img src="../../../assets/imagenes/resultado-escaner/volver.png" alt="">

            </div> 
                <div class="col-xs-3"> 
              <img class='lado' src="../../../assets/imagenes/resultado-escaner/close.png" alt="">
            </div>
        
    </div>

    <div class="lado2">
        <img src="../../../assets/imagenes/resultado-escaner/aquiTienesElResul.png" alt="">
        
    </div>

    <div class="centro">
        <img src="../../../assets/imagenes/resultado-escaner/esteProductoEsApt.png" alt="">
    </div>    

    <!-- AQUI ESTA AGREGADO LA LATA DE NESQUIK Y LOS ICONOS QUE ESTAN AL LADO-->
    <div class="cont1">
        <div class=" col-xs-3 ">
        <img class="lado2" src="../../../assets/imagenes/resultado-escaner/nesquik.png" alt="">
        </div>  

        <div class=" col-xs-3">
            <img src="../../../assets/imagenes/resultado-escaner/favorito.png" alt="">
            <img src="../../../assets/imagenes/resultado-escaner/diario.png" alt="">
            <img src="../../../assets/imagenes/resultado-escaner/red.png" alt="">

        </div>

    </div>  

    <!--400-->
    <div class="lado3">
    <img src="../../../assets/imagenes/resultado-escaner/nesquik400G.png" alt="">         
    </div>

    <!--NESTLE-->
    <div class="centro2">
        <img src="../../../assets/imagenes/resultado-escaner/nestle.png" alt="">         
    </div>
    
    <div class="centro3">
        <img src="../../../assets/imagenes/resultado-escaner/ingredientesAzCar.png" alt="">         
    </div>
    
    <div class="centro3">
        <img src="../../../assets/imagenes/resultado-escaner/primary.png" alt="">         
    </div>
    


    

  




