<div id="main-container" class="main-container">
    <div class="back-option">
        <a routerLink="/registro" class="volver">
            <img class="back-arrow" src="assets/imagenes/navegacion/arrow-left.svg" alt="Volver">
            <span class="back-text">Volver</span>
        </a>
        <span class="steps">3 de 4</span>
    </div>

    <h1 class="main-title">Ahora selecciona tus alergias e intolerancias.</h1>
    <p class="main-paragraph">Los elementos marcados serán identificados en tus busquedas como peligrosos para ti.</p>
    <div class="alphabet">
        <div class="alphabet-row">
            <div *ngFor='let letter of allergyLetters | slice:0:4' class="letter-link {{letter}}">
                <a href="/alergias{{'#'+letter}}">{{letter}}</a>
            </div>
        </div>
        <div class="alphabet-row">
            <div *ngFor='let letter of allergyLetters | slice:4:8' class="letter-link {{letter}}">
                <a href="/alergias{{'#'+letter}}">{{letter}}</a>
            </div>
        </div>
        <div class="alphabet-row">
            <div *ngFor='let letter of allergyLetters | slice:8:12' class="letter-link {{letter}}">
                <a href="/alergias{{'#'+letter}}">{{letter}}</a>
            </div>
        </div>
        <div class="alphabet-row">
            <div *ngFor='let letter of allergyLetters | slice:12:16' class="letter-link {{letter}}">
                <a href="/alergias{{'#'+letter}}">{{letter}}</a>
            </div>
        </div>
        <p class="panel-text">Acceso rápido.</p>
    </div>
    <div>
        <div *ngFor="let letter of allergyLetters;" class="list-container">
            <div class="list-header">
                <div id={{letter}} class="{{letter}} index-letter">{{letter}}</div>
                <a href="/alergias#main-container" class="arrow">
                    <img src="assets/imagenes/seleccion-alergias/arrowUp.png">
                </a>
            </div>
            <div *ngIf="foodObjects[letter] | async as foods" class="allergies-container">
                <button *ngFor="let food of foods" (click)="[selectAllergy($event.target.id, selectedButton)];[deselectAllergy($event.target.id, selectedButton)]" class="allergies-button" id={{food.nombre}}>{{ food.nombre }}</button>
            </div>
        </div>
    </div>
    <div class="button-container">
        <button routerLink="/confirmacion-alergias" routerLinkActive="router-link-active"  class="accept-button">Guardar</button>
    </div>
</div>