<!-- <div class="wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="intro">
                    <div class="img-intro">
                        <img src="../../../assets/imagenes/group.png">
                        <div class="img-intro"></div>
                    </div>    
                </div>      
            </div>
        </div>
    </div>
</div> -->
<div class="intro">
    <div class="img-intro">
        <img src="../../../assets/imagenes/group.png" alt="">
    </div>
    
    <img src="../../../assets/imagenes/logo-inicio.png" alt="">
</div>

