<div class="imagen">
    <img src="../../../assets/imagenes/login/image@3x.png" width="372px" height="209" class="imagen_2">
  </div>
  <h2 class="cabecera">¡Bienvenido de nuevo!</h2>
    <div class="texto">
      <p>Por favor, introduce tus datos para continuar.</p>
    </div>
    <form class="form">
      <div class="margen">
        <input type="email" value="Dirección e.mail" class="campo"><br>
      </div>
      <div class="margen">
        <input type="password" value="Password" class="campo"><br>
      </div>
      <div class="secBotones">
        <a href="" class="enlace_1" style="text-decoration:none" >¿Olvidaste tu contraseña?</a><br>
        <div class="div-boton">
          <button class="boton" type="submit" name="Entrar">Entrar</button>
        </div>
        <div class="href">
          <a href="" class="enlace_2" style="text-decoration:none">Crea tu cuenta aquí</a><br>
        </div>
      </div>
    </form>
  