 <img src ="../../../assets/imagenes/alergenos.jpg" class="imagen">
 <h1 class="cabecera">¡Bienvenido de nuevo!</h1>
 <p class="texto">Por favor, introduce tus datos para continuar.</p>
 <form class="form">
   <input type="email" name="Direccion e.mail" value="Dirección email" class="campo"><br>
   <input type="password" name="Password" value="Password" class="campo"><br>
   <a href="">¿Olvidaste tu contraseña?</a><br>
   <div class="div-boton">
           <button class="boton" type="submit" name="Entrar" >Entrar</button>
   </div>
   <a href="">Crea tu cuenta aquí</a><br>
 </form>
