<div>
  <div class="divVolver">
    <a routerLink="/confirmacion-alergias" class="volver">
      <img class="back-arrow" src="assets/imagenes/navegacion/arrow-left.svg" alt="Volver">
      <span class="back-text">Volver</span>
    </a>
    <p class="paginacion">4 de 4</p>
    <a routerLink="/home" class="volver"><img src="assets/imagenes/fin-registro/close.png" alt="close" class="iconClose"></a>
  </div>
  <div class="ok">
    <img src="assets/imagenes/fin-registro/ok.png" alt="ok">
  </div>
  <div class="divTitulo">
    <h1>Hemos terminado, ya puedes escanear tu primer producto</h1>
  </div>
  <div class="botonEscaneo">
    <input routerLink="/escaner" type="button" value="Escanea un producto"  class="buttonRegistrar" (click)="onSubmit()"/>
  </div>
</div>
